.borboleta {
  position: absolute;
  width: 60px;
  bottom: 0;
  right: 0;
  filter: brightness(50%);
  animation: voar 20s linear infinite;
}

@keyframes voar {
  0% {
    transform: translate(0, 0);
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-100vw, -100vw);
  }
}
