body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/i423382.jpeg);
  background-size: cover;
  background-position: right top;
  background-color: rgba(0, 0, 0, 0.301);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
}
